{% extends 'base.html' %}
{% load static %}
{% block body_block %}
    <div class="container">
    {% for patient in patients %}
        <ul>
            <div class="jumbotron">
                <li>
                    <a href="{% url 'accounts:mini_profile' patient.user.pk %}"> {{ patient.user.name }} {{ patient.user.family_name }}</a>
                    {% if patient.patientprofileinfo.profile_pic %}
                        <img src="{{ patient.profile_pic.url }}" width="120" height="120">
                    {% else %}
                        <img src="{% static "default.jpg" %}" width="120" height="120">
                    {% endif %}
                    <br/>
                    <a class="btn btn-info"> مشاهده نسخه‌ها </a>
                </li>
            </div>
            <div/>
        </ul>
    {% endfor %}
    </div>
{% endblock %}
