{% extends 'base.html' %}
{% load static %}
{% block body_block %}
    <link rel="stylesheet" href="{% static "css/search_result.css" %}" type="text/css">
    <div class="container" id="search-container">
        {% if patients.count == 0 %}
            <div class="jumbotron border">
                <p class="text"> بیماری وجود ندارد.</p>
            </div>
        {% else %}
    {% for patient in patients %}
        <ul>
            <div class="jumbotron" id="search-jumbotron">
                <li>
                    <a href="{% url 'accounts:mini_profile' patient.user.pk %}"> {{ patient.user.name }} {{ patient.user.family_name }}</a>
                    {% if patient.user.patientprofileinfo.profile_pic %}
                            {{ patient.patientprofileinfo.profile_pic }}
                        <img src="{{ patient.user.patientprofileinfo.profile_pic.url }}" width="120" height="120">
                    {% else %}
                        {{ patient.patientprofileinfo.profile_pic }}
                        <img src="{% static 'default.jpg' %}" width="120" height="120">
                    {% endif %}
                    <br/>
                    <a class="btn btn-info" href="{% url 'prescription:pre_list' patient.user.pk%}">مشاهده نسخه‌ها</a>
                </li>
            </div>
            <div/>
        </ul>
    {% endfor %}
        {% endif %}
    </div>
{% endblock %}
