asgiref==3.2.7
beautifulsoup4==4.9.0
dj-database-url==0.5.0
Django==3.0.4
django-bootstrap-datepicker-plus==3.0.5
django-bootstrap3==14.0.0
django-bootstrap4==2.1.1
django-braces==1.14.0
django-heroku==0.3.1
django-heroku-db-utils==0.1.0
django-jalali==3.3.0
django-model-utils==4.0.0
django-notifications-hq==1.6.0
django-star-ratings==0.9.1
django-widget-tweaks==1.4.8
gunicorn==20.0.4
img==2.5
importlib-metadata==1.7.0
jdatetime==3.6.2
jsonfield==3.1.0
Pillow==7.1.1
psycopg2==2.8.5
pytz==2019.3
six==1.14.0
soupsieve==2.0
sqlparse==0.3.1
swapper==1.1.2.post1
waitress==1.4.3
WebOb==1.8.6
WebTest==2.0.34
whitenoise==5.0.1
zipp==3.1.0
