.calendar {
    background-color: rgba(255, 255, 255, 0.53);
    font-size: small;

}

.calendar tr, .calendar td {
    border: 1px solid black;
}

.calendar th {
    text-align: center;
    font-size: x-small;

}

.calendar td {
    width: 100px;
    height: 50px;
}

.date-header {
    font-size: small;
}

.date-range {
    font-size: small;
}

.date {
    font-size: small;
}

ul {
    height: 50%;
    padding: 0 5px 0 20px;
}

a {
    color: #17a2b8;
}

.left {
  float: left;
}

.right {
  float: right;
}

.btn {
  outline: none;
  color: black;
  background-color: transparent;
  box-shadow: 0 0 0 0;
}

.clearfix {
  margin: 15px;
}

.Unavailable-slot{
    background-color: rgba(226, 0, 0, 0.52);
}

.reserved{
    background-color: rgba(226, 202, 37, 0.52);
}

p.cal-title{
    text-align: center;
    font-size: x-small;
}
