body {
    overflow-x: hidden;
    height: 100%;
    background-image: url("../images/doc35.jpg");
    background-repeat: repeat;
}
.head{
    color: rgba(0, 0, 0, 0.57);
    text-align: center;
    font-size: 5vw
}

.alert-danger{
    width: 100%;
    max-width: 500px;
    position: static;
    text-align: center;
}
.container {
    max-width:100%;
    width: 100%;
    top: 50%;
    left: 50%;
}
.box {
    width: 100%;
    max-width: 500px;
    padding: 40px;
    position: static;
    background: rgba(198, 211, 200, 0.76);
    text-align: center;
    transition: 0.25s;
    margin-top: 100px;
}

.box input[type="text"],
.box input[type="password"],
.box input[type="email"],
.box input[type="date"],
.box input[type="number"],
.box input[type="url"],
.box select,
.box input[type="file"]{
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid black;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: black;
    /*border-radius: 24px;*/
    transition: 0.25s
}
 /* todo .box input[type="checkbox"] */

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500
}

.box input[type="text"]:focus,
.box input[type="password"]:focus,
.box input[type="email"]:focus,
.box input[type="date"]:focus,
.box input[type="number"]:focus,
.box input[type="url"]:focus,
.box select:focus{
    width: 300px;
    border-color: cornflowerblue;
}

.box input[type="submit"]{
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid cornflowerblue;
    padding: 14px 40px;
    outline: none;
    color: darkblue;
    /*border-radius: 24px;*/
    transition: 0.25s;
    cursor: pointer
}

.box input[type="submit"]:hover {
    background: cornflowerblue;
}

.forgot {
    text-decoration: underline
}


