body{
    background-attachment: fixed;
}
.ui-datepicker {
    width: 17em;
    padding: .2em .2em 0;
    z-index: 9999 !important;
}

#ui-datepicker-div {
    background-color: #bec1bd;
    border: 1px solid rgba(34, 87, 80, 0.76);
}
