#submit-button {
    margin-left: 0;
    float: left;
}

#middle-jumbotron{
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 3vh;
}

#total-container{
    background-color: rgba(253, 255, 251, 0.67);
}
a.delete-row {
    margin-right: 5%;
    margin-top: 0;
    color: #d62732;
}

a.delete-row:hover {
    margin-right: 5%;
    margin-top: 0;
    color: #950054;
}

body {
    background-repeat: repeat;
}
