body {
    background-image: none;
}

#search-container{
    background-image: url("../images/doc35.jpg");
}

.jumbotron:hover {
    background: #55ffce ;
    transition: 0.5s;
}

li{
    display: block;
}
