{% extends 'base.html' %}
{% load static %}
{% block body_block %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/calendar.css' %}">
    <div class="jumbotron">

        <div class="clearfix">
            <a class="btn btn-info left" href="{% url 'doctor_calendar:doctor-calendar-next' 2%} "> هفته قبل </a>
            <a class="btn btn-info right" href="{% url 'doctor_calendar:doctor-calendar-next' 1%}"> هفته بعد </a>
        </div>
        <div id="calendar-div">
        {{ calendar }}
        </div>
    </div>


{% endblock %}
