{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block body_block %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/calendar.css' %}">
{% language request.session.lang %}
    {% get_current_language as LANGUAGE_CODE %}
    <div class="jumbotron" id="search-jumbotron">

    <div class="clearfix">
        <a class="btn btn-info left" href="{% url 'doctor_calendar:doctor-calendar-next' 2 %} "> {% trans 'هفته قبل'%} </a>
        <a class="btn btn-info right" href="{% url 'doctor_calendar:doctor-calendar-next' 1 %}"> {% trans 'هفته بعد' %} </a>
    </div>
    <div id="calendar-div">
        {{ calendar }}
    </div>

    </div>

{% endlanguage %}
{% endblock %}
