{% extends 'base.html' %}
{% load static %}
{% block body_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/calendar.css' %}">
    <div class="jumbotron">
{#        <div class="clearfix">#}
{#            {{ calendar }}#}
{#        </div>#}
        <div class="clearfix">
                {% if sc is True %}
                    <a> رزرو و پرداخت موفقیت آمیز بود</a>
                {% else %}
                    <a> موجودی کافی نیست.لطفا اقدام به افزایش موجودی خود کنید</a>
                {% endif %}

            <a class="btn btn-info left" href="{% url 'accounts:index' %} "> بازگشت به صفحه پروفایل </a>
        </div>
    </div>

{% endblock %}
