{% extends 'base.html' %}
{% load static %}
{% block body_block %}
    <link rel="stylesheet" href="{% static "css/pre_list.css" %}" type="text/css">

    <div class="container" id="search-container">
        {% if pre.count == 0 %}
            <div class="jumbotron border">
                <p class="text"> نسخه‌ای وجود ندارد.</p>
            </div>
        {% else %}
            {% for pr in pre %}
                <div class="jumbotron">
                    <h2> نسخه‌ی ویزیت در
                        تاریخ {{ pr.appointment.start_time.year }}/{{ pr.appointment.start_time.month }}/{{ pr.appointment.start_time.day }} </h2>

                    <a class="button" href="#popup1">افزودن نظر</a>
                    <div id="popup1" class="overlay">
                        <div class="popup">
                            <h2>یادداشت خود را دررابطه با این نسخه بنویسید و یا ویرایش کنید</h2>
                            <a class="close" href="#">&times;</a>
                            <div class="content">

                                <textarea class="textarea" name="comment" value="{{ request.Get.q1 }}">

                                </textarea>
                                <br>
                                <input type="submit" name="submit" value="افزودن"/>

                            </div>
                        </div>
                    </div>
                    <style>

                        .textarea{
                            width: 100%;
                            height : 200px;
                        }
                        .overlay {
                            position: fixed;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            background: rgba(0, 0, 0, 0.7);
                            transition: opacity 500ms;
                            visibility: hidden;
                            opacity: 0;
                        }

                        .overlay:target {
                            visibility: visible;
                            opacity: 1;
                        }

                        .popup {
                            margin: 70px auto;
                            padding: 20px;
                            background: #fff;
                            border-radius: 5px;
                            width: 40%;

                            position: relative;
                            transition: all 5s ease-in-out;
                        }

                        .popup:after {
                            content: '';
                            position: absolute;
                            bottom: 100%;
                            width: 0;
                            height: 0;
                            border-style: solid;
                            border-width: 0 20px 20px 20px;
                            border-color: transparent transparent white transparent;
                        }

                        .overlay:target .popup {
                            animation: popup 0.7s;
                        }

                        .popup h2 {
                            font-size: 2vw
                        }

                        .popup .close {
                            position: absolute;
                            top: 20px;
                            right: 30px;
                            transition: all 200ms;
                            font-size: 30px;
                            font-weight: bold;
                            text-decoration: none;
                            color: #333;
                        }

                        .popup .close:hover {
                            color: #06D85F;
                        }

                        .popup .content {
                            max-height: 50%;
                            overflow: auto;
                        }

                        @media screen and (max-width: 700px) {
                            .box {
                                width: 70%;
                            }

                            .popup {
                                width: 70%;
                            }
                        }

                        @keyframes popup {
                            0% {
                                transform: scale(1);
                            }
                            50% {
                                transform: scale(1.4);
                            }
                            60% {
                                transform: scale(1.1);
                            }
                            70% {
                                transform: scale(1.2);
                            }
                            80% {
                                transform: scale(1);
                            }
                            90% {
                                transform: scale(1.1);
                            }
                            100% {
                                transform: scale(1);
                            }
                        }
                    </style>



                    {% for key, value in medicine.items %}
                        {% if key == pr and value.count != 0 %}
                            <div class="jumbotron border">
                                <h3> داروها :</h3>
                                {% for meds in value %}
                                    <li class="list-group-item">
                                        <p>نام دارو: {{ meds.name }}</p>
                                        <p> شرح: {{ meds.description }}</p>
                                        <p> تاریخ شروع
                                            مصرف: {{ meds.starting_time.year }}/{{ meds.starting_time.month }}/{{ meds.starting_time.day }}</p>
                                        <p> هر {{ meds.time_interval }} ساعت یکبار مصرف شود. </p>
                                        <p> زمان باقی‌مانده مصرف : {{ meds.times_left }} روز </p>
                                    </li>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}



                    {% for key, value in tests.items %}
                        {% if key == pr and value.count != 0 %}
                            <div class="jumbotron border">
                                <h3> آزمایش‌ها :</h3>
                                {% for tests in value %}
                                    <li class="list-group-item">
                                        <p>نوع تست: {{ tests.name }}</p>
                                        <p> شرح: {{ tests.description }}</p>
                                        <p> حداکثر تا
                                            تاریخ {{ tests.deadline.year }}/{{ tests.deadline.month }}/{{ tests.deadline.day }}انجام
                                            شود.</p>
                                    </li>

                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}



                    {% for key, value in injections.items %}
                        {% if key == pr and value.count != 0 %}
                            <div class="jumbotron border">
                                <h3> تزریقات :</h3>
                                {% for inj in value %}
                                    <li class="list-group-item">
                                        <p>نام آمپول: {{ inj.name }}</p>
                                        <p> شرح: {{ inj.description }}</p>
                                        <p>حداکثر تا
                                            تاریخ {{ inj.deadline.year }}/{{ inj.deadline.month }}/{{ inj.deadline.day }}
                                            مصرف شود.</p>
                                    </li>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}

                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
