{% extends "registration/index.html" %}
{% block body_index_block %}
{% load static %}
<div class="jumbotron">
    <h3>اطلاعات شخصی</h3>
        <p>نام : {{ user.name }}
            {% if user.doctorprofileinfo.profile_pic %}
                <img src= "{{ user.doctorprofileinfo.profile_pic.url }}" width="240" align="left" alt="prof-pic">
            {% else %}
                <img src= "{% static "default.jpg" %}" width="240" align="left" alt="prof-pic">
            {% endif %}</p>
        <p>نام خانوادگی : {{user.family_name}}</p>
        <p>ایمیل : {{user.email}}</p>
        {% if user.doctorprofileinfo.portfolio_site is None %}
                <p>وب‌سایت : وارد نشده‌است.</p>
        {% else %}
            <p>وب‌سایت : {{user.doctorprofileinfo.portfolio_site}}</p>
        {% endif %}

        {% if user.doctorprofileinfo.specialty is None %}
                <p>تخصص : وارد نشده‌است.</p>
        {% else %}
            <p>تخصص : {{user.doctorprofileinfo.specialty.split.pop}}</p>
        {% endif %}


        <p>درجه پزشکی : {{user.doctorprofileinfo.degree}}</p>

        {% if user.doctorprofileinfo.educational_background is None %}
            <p>پیشینه تحصیلی : وارد نشده‌است.</p>
        {% else %}
            <p>پیشینه تحصیلی : {{user.doctorprofileinfo.educational_background}}</p>
        {% endif %}
        <p>اعتبار : {{user.doctorprofileinfo.credit}}</p>
        {% if user.doctorprofileinfo.fee is None %}
            <p>حق ویزیت : وارد نشده‌است.</p>
        {% else %}
            <p>حق ویزیت : {{user.doctorprofileinfo.fee}} تومان</p>
        {% endif %}

        {% if user.doctorprofileinfo.on_site_fee is False %}
            <p>قابلیت پرداخت حق ویزیت در مطب وجود ندارد.</p>
        {% else %}
            <p>قابلیت پرداخت حق ویزیت در مطب وجود دارد.</p>
        {% endif %}

        <p> آدرس : {{user.doctorprofileinfo.address}}</p>

        {% if user.doctorprofileinfo.score is None %}
            <p>امتیاز : وارد نشده‌است.</p>
        {% else %}
            <p>امتیاز : {{user.doctorprofileinfo.sore}}</p>
        {% endif %}
        <a href="{% url 'doctor_calendar:schedule' 0 %}"><input type=button value='مشاهده برنامه‌ی هفتگی'></a>
        <a href="{% url 'patient_list:list' %}"><input type=button value='مشاهده لیست بیماران'></a>
</div>
{% endblock %}
