{% extends "base.html" %}
{% block body_block %}
<div class="jumbotron">
    <h3>اطلاعات پزشک</h3>
        <p>نام : {{ user.name }} {% if user.doctorprofileinfo.profile_pic%}
                <img src= "{{ user.doctorprofileinfo.profile_pic.url }}" width="240" align="left">
            {% endif %}</p>
        <p>نام خانوادگی : {{user.family_name}}</p>
        {% if user.doctorprofileinfo.portfolio_site is None %}
                <p>وب‌سایت : وارد نشده‌است.</p>
        {% else %}
            <p>وب‌سایت : {{user.doctorprofileinfo.portfolio_site}}</p>
        {% endif %}

        {% if user.doctorprofileinfo.specialty is None %}
                <p>تخصص : وارد نشده‌است.</p>
        {% else %}
            <p>تخصص : {{user.doctorprofileinfo.specialty.split.pop}}</p>
        {% endif %}

        <p>درجه پزشکی : {{user.doctorprofileinfo.degree}}</p>
        {% if user.doctorprofileinfo.fee is None %}
            <p>حق ویزیت : وارد نشده‌است.</p>
        {% else %}
            <p>حق ویزیت : {{user.doctorprofileinfo.fee}} تومان </p>
        {% endif %}

        {% if user.doctorprofileinfo.on_site_fee is False %}
            <p>قابلیت پرداخت حق ویزیت در مطب وجود ندارد.</p>
        {% else %}
            <p>قابلیت پرداخت حق ویزیت در مطب وجود دارد.</p>
        {% endif %}

        <p> آدرس : {{user.doctorprofileinfo.address}}</p>

</div>
{% endblock %}

