{% extends "base.html" %}
{% load static %}
{% block body_block %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}" type="text/css">
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <form class="box" method="post" action="/profile/edit/"
                            enctype="multipart/form-data">
        {% csrf_token %}
        {{ edituser_form.as_p }}
        {{ editprofileinfo_form.as_p}}
        <input type="submit" value="ثبت">
    </form>
    </div>
    <br>
</div>
    </div>

{% endblock %}



