{% extends "base.html" %}
{% block body_block %}
<div class="container">
  <div class="jumbotron">
    <h1>به وبسایت پزشکات خوش آمدید!</h1>
    {% if user.is_authenticated %}
        <h2>سلام {{user.name}}</h2>
        {% block body_index_block %}
        {% endblock %}
        <div class="button">
            <a href="{% url 'edit_profile' %}"><input type=button value='ویرایش پروفایل'></a>
        </div>
    {% else %}
        <h2>برای استفاده از وبسایت وارد شوید یا ثبت نام کنید.</h2>
    {% endif %}
  </div>
</div>
{% endblock %}
