{##}
{% extends 'base.html' %}
{% block body_block %}

    <div class="container">
        <div class="jumbotron">
            <h1>صفحه ورود </h1>
            {% if error is not None %}
                <div class="container">

                    <div class="alert alert-danger">
                        <strong>خطا!</strong> {{ error }}
                    </div>
                </div>
            {% endif %}
            <form method="post" action="{% url 'accounts:user_login' %}">
                {% csrf_token %}
                <label for="email">ایمیل:</label>
                <input type="text" name="email" placeholder="Email">
                <label for="password">رمزعبور:</label>
                <input type="password" name="password" placeholder="Password">
                <input type="submit" name="" value="ورود">
            </form>
            <a href="{% url 'accounts:password_reset' %}"><input type=button value='بازیابی رمز عبور' style="margin-right: 30px"></a>
        </div>
    </div>

{% endblock %}

