{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block body_block %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}" type="text/css">
    {% language request.session.lang %}
                        {% get_current_language as LANGUAGE_CODE %}
        <div class="container">
            <div class="row">
                 <div class="col-md-8">
                <div class="card">
                    <form class="box" method="POST">
                        <h1 CLASS="head">{% trans 'تغییر رمز عبور'%}</h1>
                        <p class="text-muted">{% trans 'رمز عبور جدید را وارد کنید.' %}</p>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="{% trans 'تغییر رمز عبور' %}">
                </form>
            </div>
        </div>
        </div>
        {% endlanguage %}
{% endblock %}
