{% extends 'base.html' %}
{% load i18n%}
{% block body_block %}
    {% language request.session.lang %}
                        {% get_current_language as LANGUAGE_CODE %}
    {% block title %}{% trans 'ایمیل ارسال شد.' %}{% endblock %}

    {% block content %}
        <div class="container">
            <div class="jumbotron">

                <h2>{% trans 'inbox خود را چک کنید.'%}</h2>
                <p>{% trans 'ایمیل بازیابی رمز برای شما ارسال شده است. ایمیل تا دقایقی دیگر به دست شما میرسد.' %}</p>
            </div>
        </div>

    {% endblock %}
    {% endlanguage %}
{% endblock %}
