{% extends "base.html" %}
{% load static %}
{% block body_block %}
<link rel="stylesheet" href="{% static "css/profile.css" %}" type="text/css">
<div class="container-fluid emp-profile">
            <form method="post">
                <div class="row">
                    <div class="col-md-3 col-xs-3">
                        <div class="profile-img">

                            {% if user.patientprofileinfo.profile_pic %}
                            <img src= "{{ user.patientprofileinfo.profile_pic.url }}" alt=""/>
                             {% else %}
                             <img src= "{% static 'default.jpg' %}" alt="/">
                             {% endif %}
<!--                            <div class="file btn btn-lg btn-primary">-->
<!--                                Change Photo-->
<!--                                <input type="file" name="file"/>-->
<!--                            </div>-->
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-6">
                        <div class="profile-head">
                                    <h5>
                                        {{user.name}} {{user.family_name}}
                                    </h5>
                                    <h6>
                                        بیمار
                                    </h6>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li>
                                    <a class="nav-link active " id="home-tab" href="#home" data-toggle="tab" role="tab" aria-controls="home" aria-selected="true">اطلاعات شخصی</a>
                                </li>
<!--                                <li>-->
<!--                                    <a  class="nav-link" id="profile-tab" href="#profile" data-toggle="tab" role="tab" aria-controls="profile" aria-selected="false" >پروفایل بیمار</a>-->
<!--                                </li>-->
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-xs-10">
                        <div class="tab-content profile-tabb" id="myTabContent">
                            <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row">
                                            <div class="col-md-6 col-xs-6">
                                                <p>{{ user.name }}</p>
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                                <label>نام</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 col-xs-6">
                                                <p>{{ user.family_name }}</p>
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                                <label>نام خانوادگی</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 col-xs-6">
                                                <p>{{user.patientprofileinfo.birthday.year}}</p>
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                                <label>سال تولد</label>
                                            </div>
                                        </div>

                                    {% if user.patientprofileinfo.medical_condition is None %}
                                         <div class="row">
                                            <div class="col-md-6 col-xs-6">
                                                <p>وارد نشده است.</p>
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                                <label>بیماری‌ها</label>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="row">
                                            <div class="col-md-6 col-xs-6">
                                                <p>{{user.patientprofileinfo.medical_condition}}</p>
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                                <label>بیماری‌ها</label>
                                            </div>
                                        </div>
                                    {% endif %}

                                        <div class="row">
                                            <div class="col-md-6 col-xs-6">
                                                <p>{{user.patientprofileinfo.medical_emergency_contact}}</p>
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                                <label>شماره تلفن موارد پزشکی اضطراری</label>
                                            </div>
                                        </div>

                                    {% if user.patientprofileinfo.blood_type is None %}
                                         <div class="row">
                                            <div class="col-md-6 col-xs-6">
                                                <p>وارد نشده است.</p>
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                                <label>گروه خونی</label>
                                            </div>
                                        </div>
                                    {% else %}
                                    {% if user.patientprofileinfo.blood_plus_minus is None %}
                                        <div class="row">
                                            <div class="col-md-6 col-xs-6">
                                                <p> {{user.patientprofileinfo.blood_type}}</p>
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                                <label>گروه خونی</label>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="row">
                                            <div class="col-md-6 col-xs-6">
                                                {% if user.patientprofileinfo.blood_plus_minus == 'P'%}
                                                <p> + {{user.patientprofileinfo.blood_type}}</p>
                                                {% endif%}
                                                {% if user.patientprofileinfo.blood_plus_minus == 'N'%}
                                                <p> - {{user.patientprofileinfo.blood_type}}</p>
                                                {% endif%}
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                                <label>گروه خونی</label>
                                            </div>
                                        </div>

                                    {% endif %}
                                {% endif %}

                                {% if user.patientprofileinfo.allergies is None %}
                                         <div class="row">
                                            <div class="col-md-6 col-xs-6">
                                                <p>وارد نشده است.</p>
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                                <label>حساسیت‌ها</label>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="row">
                                            <div class="col-md-6 col-xs-6">
                                                <p> {{user.patientprofileinfo.allergies}}</p>
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                                <label>حساسیت‌ها</label>
                                            </div>
                                        </div>
                                    {% endif %}


                                {% if user.patientprofileinfo.height is None %}
                                         <div class="row">
                                            <div class="col-md-6 col-xs-6">
                                                <p>وارد نشده است.</p>
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                                <label>قد</label>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="row">
                                            <div class="col-md-6 col-xs-6">
                                                <p> {{user.patientprofileinfo.height}} متر</p>
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                                <label>قد</label>
                                            </div>
                                        </div>
                                    {% endif %}

                                {% if user.patientprofileinfo.weight is None %}
                                         <div class="row">
                                            <div class="col-md-6 col-xs-6">
                                                <p>وارد نشده است.</p>
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                                <label>وزن</label>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="row">
                                            <div class="col-md-6 col-xs-6">
                                                <p> {{user.patientprofileinfo.weight}} کیلوگرم</p>
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                                <label>وزن</label>
                                            </div>
                                        </div>
                                    {% endif %}

                            </div>
<!--                           <div class="tab-pan fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">-->
<!--                                        <div class="row">-->
<!--                                            <div class="col-md-6">-->
<!--                                                <p>{{user.patientprofileinfo.birthday}}</p>-->
<!--                                            </div>-->
<!--                                            <div class="col-md-6">-->
<!--                                                <label>تاریخ تولد</label>-->
<!--                                            </div>-->

<!--                                </div>-->
                            </div>
                        </div>
                    </div>
            </form>
        </div>
{% endblock%}

