{% extends 'base.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load static %}
{% load widget_tweaks %}
{{ start_notif_form.media }}

{% block body_block %}
    <link rel="stylesheet" href="{% static "css/search_result.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/medicine_page.css" %}" type="text/css">
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <div class="container" id="med-container">
        <div class="jumbotron" id="med-header"><h1>داروها</h1></div>

        {% if meds.count == 0 %}
            <div class="jumbotron border">
                <p class="text"> دارویی وجود ندارد.</p>
            </div>
        {% else %}

            {% for med, start_notif_form in meds %}
                <ul>
                    <li>
                        <div class="jumbotron">

                            <h2>دارو:</h2>
                            <p>نام دارو: {{ med.name }}</p>
                            {% if med.description %}
                                <p>توضیحات پزشک: {{ med.description }}</p>
                            {% endif %}
                            <p>بازه زمانی بین دو قرص: {{ med.time_interval }} ساعت </p>
                            <p>میزان هربار مصرف: {{ med.dosage_every_time }} گرم </p>
                            {% if med.status %}
                                <p>وضعیت یادآوری قرص: فعال
                                    <label for="inactive" style="margin-right: 3vw">غیرفعال کردن یادآوری</label><input
                                            type="checkbox"
                                            name="inactive"
                                            onclick="disable_checkbox('{{ med.id }}')"
                                            id="inactive-{{ med.id }}"
                                            value="1"/>
                                </p>

                            {% else %}
                                <div>
                                    <p>وضعیت یادآوری قرص: غیرفعال

                                        <label for="active" style="margin-right: 3vw">فعال کردن یادآوری</label><input
                                                type="checkbox"
                                                name="active"
                                                onclick="checkbox('{{ med.id }}')"
                                                id="active-{{ med.id }}"
                                                value="1"/>
                                    </p>
                                </div>
                            {% endif %}
                            {% if med.status or med.finished %}
                                <p> تاریخ شروع دارو: {{ med.starting_time }}</p>
                            {% else %}

                                <div id="q-{{ med.id }}" style="display: none">
                                    <div class="jumbotron" id="question">

                                        {% for field in start_notif_form %}
                                            {% for error in field.errors %}
                                                <script>
                                                    if ({{ med.id }}=={{ error_id }}) {
                                                        var el = document.getElementById('q-{{ med.id }}');
                                                        el.style.display = 'block';

                                                    }

                                                </script>
                                                <div class="alert alert-danger" id="alert-{{ med.id }}">
                                                    <strong>{{ error|escape }}</strong>
                                                </div>
                                            {% endfor %}
                                        {% endfor %}
                                        <p style="color: #089b7b">اگر مایلید پزشکات زمان خوردن این دارو را به شما
                                            یادآوری
                                            کند، زمان شروع را وارد
                                            کنید.</p><br>
                                        <form method="post" action={% url "medicine_page:start_notif" med.id %}>
                                            {% csrf_token %}
                                            <label class="required" for="starting_time">تاریخ شروع:</label>

                                            {% render_field start_notif_form.starting_time class+="form-control form-control-sm" id="" %}

                                            <br><br>
                                            <label class="required" for="starting_hour">زمان شروع:</label>
                                            {% render_field start_notif_form.starting_hour %} <br><br>
                                            <p style="color: #089b7b; font-size: medium; margin: unset"> **مقادیر زیر بر
                                                اساس
                                                نسخه شما , دفعات قبلی استفاده ی شما از این دارو (درصورت فعال بودن این
                                                دارو
                                                در گذشته) نوشته شده است. در صورت تمایل میتوانید هر یک را تغییر
                                                دهید.**</p>
                                            <br><br>
                                            <label for="total_dosage">مقدار کل باقی مانده (گرم):</label>

                                            {% render_field start_notif_form.dosage_remaining class="form-control form-control-sm" value=med.dosage_remaining id=med.id %}

                                            <button onclick="disablingFunction('{{ med.id }}')">تغییر مقدار</button>
                                            <br><br>
                                            <label for="total_dosage">مقدار هربار مصرف (گرم):</label>
                                            {% render_field start_notif_form.dosage_every_time class="form-control form-control-sm" value=med.dosage_every_time id=med.id %}
                                            <button onclick="disablingFunction2('{{ med.id }}')">تغییر مقدار</button>
                                            <br><br>

                                            {{ start_notif_form.media }}
                                            <div id="submit-button">
                                                <input type="submit" value="ذخیره" class="button"/>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </li>
                </ul>

            {% endfor %}
        {% endif %}
    </div>

    <script>
        window.onload = function () {
            var arrayLength = document.getElementsByName("med-dosage_remaining").length;
            for (var i = 0; i < arrayLength; i++) {
                document.getElementsByName("med-dosage_remaining")[i].disabled = true;
                document.getElementsByName("med-dosage_every_time")[i].disabled = true;
            }
            event.preventDefault()
        };

        function disablingFunction(x) {
            x = x.toString();
            var y = document.getElementById(x);
            if (y.getAttribute("name") == "med-dosage_remaining") {
                y.disabled = false
            }
            {#document.getElementById(x).disabled = false;#}
            event.preventDefault()
        }

        function disablingFunction2(x) {
            x = x.toString();
            var arrayLength = document.getElementsByName("med-dosage_every_time").length;
            for (var i = 0; i < arrayLength; i++) {
                y = document.getElementsByName("med-dosage_every_time")[i];

                if (y.getAttribute("id") == x) {
                    y.disabled = false;
                }
            }

            event.preventDefault()
        }
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{% static 'scripts/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'scripts/bootstrap-datepicker.fa.min.js' %}"></script>
    <link rel="stylesheet" href={% static "css/bootstrap-datepicker.min.css" %}/>
    <script>

        $(document).ready(function () {
            $('.datepicker').datepicker(
                {
                    dateFormat: 'yy-mm-dd',
                    changeMonth: true,
                    showButtonPanel: true,
                    minDate: 0
                }
            );

        });

        function checkbox(x) {
            x = x.toString();

            // call toggleSub when checkbox clicked
            // toggleSub args: checkbox clicked on (this), id of element to show/hide
            var el = document.getElementById("active-".concat(x));

            toggleSub(el, 'q-'.concat(x));
        }

        // called onclick of checkbox
        function toggleSub(box, id) {

            // get reference to related content to display/hide
            var el = document.getElementById(id);
            console.log(box.checked);
            if (box.checked) {
                el.style.display = 'block';
            } else {
                el.style.display = 'none';
            }
        }

        function disable_checkbox(med) {
            var r = confirm('آیا از غیرفعال کردن یادآوری اطمینان دارید؟');
            if (r === true) {
                console.log("yes");

                $.ajax({
                    url: "disable-notif/" + med.toString() + "/",

                });
                window.location.reload();
            } else {
                event.preventDefault();

            }

        }

    </script>


    <style>
        .ui-datepicker .ui-datepicker-buttonpane {
            margin: .7em 0 0 0;
            padding: 0 .2em;
            background-color: #9b2c32;
            border-top: 1px solid #c40017
        }
    </style>

{% endblock %}
