{% extends 'base.html' %}
{% load static %}
{% block body_block %}
    <link rel="stylesheet" href="{% static "css/pre_list.css" %}" type="text/css">

    <div class="container" id="search-container">
        {% if pre.count == 0 %}
            <div class="jumbotron border">
                <p class="text"> نسخه‌ای وجود ندارد.</p>
            </div>
        {% else %}
            {% for pr in pre %}
                <div class="jumbotron" id="search-jumbotron">
                    <h2 id="pre-title"> نسخه‌ی ویزیت در
                        تاریخ {{ pr.appointment.start_time.year }}/{{ pr.appointment.start_time.month }}/{{ pr.appointment.start_time.day }} </h2>
                    {% for key, value in medicine.items %}
                        {% if key == pr and value.count != 0 %}
                            <div class="jumbotron border">
                                <h3> داروها :</h3>
                                {% for meds in value %}
                                    <li class="list-group-item">
                                        <p>نام دارو: {{ meds.name }}</p>
                                        {% if meds.description is None%}
                                            <p> شرح : وارد نشده است.</p>
                                        {% else%}
                                        <p> شرح: {{ meds.description }}</p>
                                        {% endif %}
                                        <p> هر {{ meds.time_interval }} ساعت یکبار مصرف شود. </p>
                                        <p> هر بار {{ meds.dosage_every_time }} گرم مصرف شود </p>
                                    </li>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}



                    {% for key, value in tests.items %}
                        {% if key == pr and value.count != 0 %}
                            <div class="jumbotron border">
                                <h3> آزمایش‌ها :</h3>
                                {% for tests in value %}
                                    <li class="list-group-item">
                                        <p>نوع تست: {{ tests.name }}</p>
                                        <p> شرح: {{ tests.description }}</p>
                                        <p> حداکثر تا
                                            تاریخ {{ tests.deadline.year }}/{{ tests.deadline.month }}/{{ tests.deadline.day }}انجام
                                            شود.</p>
                                    </li>

                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}



                    {% for key, value in injections.items %}
                        {% if key == pr and value.count != 0 %}
                            <div class="jumbotron border">
                                <h3> تزریقات :</h3>
                                {% for inj in value %}
                                    <li class="list-group-item">
                                        <p>نام آمپول: {{ inj.name }}</p>
                                        <p> شرح: {{ inj.description }}</p>
                                        <p>حداکثر تا
                                            تاریخ {{ inj.deadline.year }}/{{ inj.deadline.month }}/{{ inj.deadline.day }}
                                            مصرف شود.</p>
                                    </li>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}

                    <a class="btn btn-default" href="{% url 'prescription:prescription' pr.pk 1%}">ویرایش</a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
