{% extends 'base.html' %}
{% load static %}
{% block body_block %}
<link rel="stylesheet" href="{% static 'css/search_result.css' %}" type="text/css">
    <div class="container" id="search-container">
        <div class="jumbotron" id="search-jumbotron-all">
    <h1> جستوجوی پزشک </h1>
            <br>
            <br>
            <label>نام پزشک :</label>
        <input type="text" name="q1" id="nameInput">
            <label>نام خانوادگی پزشک :</label>
        <input type="text" name="q2" id="familyNameInput">
            <label>تخصص پزشک :</label>
        <input type="text" name="q3" placeholder="تخصص دکتر مورد نظر" id="specialityInput">
            <br>
            <br>
            <ul id="myUL">
            {% for doctor in object_list %}
                    <li id="cards-li"  data-role="card">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <div class="jumbotron" id="card-jumbotron">
                                        <a href="{% url 'accounts:mini_profile' doctor.user.pk %}" class="name"> {{ doctor.user.name }}</a>
                                        <a href="{% url 'accounts:mini_profile' doctor.user.pk %}" class="family_name"> {{ doctor.user.family_name }}</a>
                                        <br/>
                                        {% if doctor.user.doctorprofileinfo.profile_pic %}
                                            <img src="{{ doctor.user.doctorprofileinfo.profile_pic.url }}"
                                                 alt="orig-prf" id="prf">
                                        {% else %}
                                            <img src="{% static 'default/default_8.jpg'%}" alt="original-prf" id="prf">
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="flip-card-back">
                                    {% if doctor.specialty %}
                                        <h1>{{ doctor.specialty }}</h1>
                                    {% else %}
                                        <h1>{{ doctor.specialty_bins}} </h1>
                                    {% endif %}
                                    <a href="{% url 'accounts:mini_profile' doctor.user.pk %}"> {{ doctor.user.name }} {{ doctor.user.family_name }}</a>

                                    <p>هزینه ویزیت:{{ doctor.fee }}</p>
                                    <p>آدرس:{{ doctor.address }}</p>
                                </div>
                            </div>
                        </div>
                    </li>
            {% endfor %}
            </ul>
        </div>
    </div>

<script>
    $(document).ready(function() {
        $("#nameInput").on("keyup", function() {
            var value = $(this).val();
                $('li[data-role="card"]').filter(function() {
                $(this).toggle($(this).find('.name').text().indexOf(value) > -1)
         });
        });
        $("#familyNameInput").on("keyup", function() {
            var value = $(this).val();
                $('li[data-role="card"]').filter(function() {
                $(this).toggle($(this).find('.family_name').text().indexOf(value) > -1)
         });
        });
        $("#specialityInput").on("keyup", function() {
            var value = $(this).val();
                $('li[data-role="card"]').filter(function() {
                $(this).toggle($(this).find('.flip-card-back h1').text().indexOf(value) > -1)
         });
        });
    });
</script>

{% endblock %}


